body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ribbon {
	background-color: darkred;
	position: absolute;
	overflow: hidden;
	right: -65px;
	top: 50px;
	transform: rotate(45deg);
  z-index: -999;
	/*box-shadow: 0 0 10px #888;*/
  /*border-bottom: 100px solid;*/
  /*border-left: 50px solid transparent;*/
  /*border-right: 50px solid transparent;*/
  /*height: 0;*/
  /*width: 100px;*/
}

.ribbon a {
  border: 1px solid white;
  color: #fff;
  display: block;
  font: bold 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

@media only screen and (max-width: 600px) {
  .ribbon {
    display: hidden;
    background-color: darkred;
    transform: rotate(0deg);
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
  }
}

.search {
  height: 90vh;  
}

.result {
  padding: 5vh;
}

.footer {
  height: 10vh;
}


.github-corner-svg {
  /*fill:#FD6C6C; */
  fill: darkred; 
  color:#fff; 
  position: absolute; 
  top: 0; 
  border: 0; 
  right: 0;
  z-index: -999;
  
}

.github-corner-path {
  transform-origin: 130px 106px;
}